services:
  db:
    image: postgres:15
    volumes:
      - type: volume
        source: db_data
        target: /var/lib/postgresql/data

    restart: always
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  booking_api:
    build: ./django/
    volumes:
      - ./django:/usr/src/app
    restart: always
    depends_on:
      - db
    ports:
      - 8000:8000

  bio_app:
    restart: always
    depends_on:
      - booking_api

volumes:
  db_data:
  exclude:
    # https://www.baeldung.com/ops/docker-exclude-sub-folder-when-adding-volume
    driver: local
